<div>
    <div class="slider-form" style="background: url(/themes/images/slider/slider-form-bg.jpg) no-repeat center center; background-size: cover;">
        <div id="form-slider" class="cycle-slideshow slider-wrapper" data-cycle-slides="> .slide" data-cycle-fx="scrollHorz" data-cycle-paused="true" data-cycle-next="#start-form">
            <div class="slide cycle-slide cycle-sentinel" style="position: static; top: 0px; left: 0px; z-index: 100; opacity: 1; display: block;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="cycle-slideshow content-slider" data-cycle-slides="> .slide-content" style="position: relative;">
                                <div class="slide-content cycle-slide cycle-sentinel" style="position: static; top: 0px; left: 0px; z-index: 99;  display: block;">
                                    <h2 class="text-center">Over 80%* Success Rate</h2>
                                    <div class="subtitle text-center">No Points, No School, No Court</div>
                                    <div class="subline text-center"><a href="#">Traffic Tickets </a> <span>|</span> <a href="#">Suspended License </a> <span>|</span> <a href="#">DUI Charges </a></div>
                                </div>
                                <div class="slide-content cycle-slide cycle-slide-active" style="position: absolute; top: 0px; left: 0px; z-index: 100; opacity: 1; display: block; visibility: hidden;">
                                    <h2 class="text-center" style="visibility: hidden;">Over 80%* Success Rate</h2>
                                    <div class="subtitle text-center" style="visibility: hidden;">No Points, No School, No Court</div>
                                    <div class="subline text-center" style="visibility: hidden;"><a href="#" style="visibility: hidden;">Traffic Tickets </a> <span style="visibility: hidden;">|</span> <a href="#" style="visibility: hidden;">Suspended License </a> <span style="visibility: hidden;">|</span> <a href="#" style="visibility: hidden;">DUI Charges </a></div>
                                </div>
                                <div class="slide-content cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 99; visibility: hidden;">
                                    <h2 class="text-center" style="visibility: hidden;">Trust Real Lawyers, Not Apps</h2>
                                    <div class="subtitle text-center" style="visibility: hidden;">10 California Offices</div>
                                    <div class="subline text-center" style="visibility: hidden;"><a href="#" style="visibility: hidden;">Traffic Tickets </a> <span style="visibility: hidden;">|</span> <a href="#" style="visibility: hidden;">Suspended License </a> <span style="visibility: hidden;">|</span> <a href="#" style="visibility: hidden;">DUI Charges </a></div>
                                </div>
                            </div>
                            <!-- <div id="start-form" class="button">Let's Get Started</div> -->
                            <!-- <a href="/get-started" class="button btn-new">Contact Us Today</a> -->
                            <div class="button">Take Care of Your Ticket Online</div>
                            <!-- <div class="call text-center">Or Call <span data-tel-friendly="1-800-248-2846" class="click-call"><b class="icon-phone hidden-lg hidden-md hidden-sm"></b>1-800-CITATION</span><br /><span style="font-size: 16px;" class="translated-number">248-2846</span></div><br /><br /> -->
                            <div class="call text-center">
                                Or Call
                                <span class="number-container large" data-userway-font-size="26">
                                    <a style="color: rgb(255, 226, 2);" href="tel:866-248-2846" data-userway-font-size="26">
                                        <b class="icon-phone hidden-lg hidden-md hidden-sm" data-userway-font-size="26"></b> 866-248-2846
                                    </a>
                                </span>
                            </div><br"><br>
                            <div class="row">
                                <div class="col-md-offset-2 col-md-2 col-sm-3 col-xs-6 text-center">
                                    <img src="/themes/wp-content/themes/the-ticket-clinic/images/nafdd-badge.png">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-6 text-center">
                                    <img src="~/themes/wp-content/themes/the-ticket-clinic/images/10-best-badge.png">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-6 text-center">
                                    <img src="~/themes/wp-content/themes/the-ticket-clinic/images/avvo-badge.png">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-6 text-center">
                                    <img src="~/themes/wp-content/themes/the-ticket-clinic/images/top-100-badge.png">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <br>
                                    *Court costs may apply.<br>
                                    **Cases resolved nationally.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <div class="slide cycle-slide cycle-slide-active" style="position: absolute; top: 0px; left: 0px; z-index: 100; opacity: 1; display: block; visibility: visible;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div id="content-slider" class="cycle-slideshow content-slider" data-cycle-slides="> .slide-content" style="position: relative;">
                                <div class="slide-content cycle-slide cycle-sentinel" style="position: static; top: 0px; left: 0px; z-index: 99; visibility: hidden; display: block;">
                                    <h2 class="text-center" style="visibility: hidden;">Over 80%* Success Rate</h2>
                                    <div class="subtitle text-center" style="visibility: hidden;">No Points, No School, No Court</div>
                                    <div class="subline text-center" style="visibility: hidden;"><a href="#" style="visibility: hidden;">Traffic Tickets </a> <span style="visibility: hidden;">|</span> <a href="#" style="visibility: hidden;">Suspended License </a> <span style="visibility: hidden;">|</span> <a href="#" style="visibility: hidden;">DUI Charges </a></div>
                                </div>

                                <!-- <div class="slide-content">
            <h2 class="text-center">Over 3,000,000 Cases Resolved**</h2>
            <div class="subtitle text-center">Serving California Since 2008</div>
            <div class="subline text-center">Traffic Tickets <span>|</span> Suspended License <span>|</span> DUI Charges</div>
        </div> -->

                                <div class="slide-content cycle-slide cycle-slide-active" style="position: absolute; top: 0px; left: 0px; z-index: 99; opacity: 1; display: block; visibility: visible;">
                                    <h2 class="text-center">Over 80%* Success Rate</h2>
                                    <div class="subtitle text-center">No Points, No School, No Court</div>
                                    <div class="subline text-center"><a href="#">Traffic Tickets </a> <span>|</span> <a href="#">Suspended License </a> <span>|</span> <a href="#">DUI Charges </a></div>
                                </div><div class="slide-content cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 100; visibility: hidden; opacity: 0; display: block;">
                                    <h2 class="text-center">Trust Real Lawyers, Not Apps</h2>
                                    <div class="subtitle text-center">10 California Offices</div>
                                    <div class="subline text-center"><a href="#">Traffic Tickets </a> <span>|</span> <a href="#">Suspended License </a> <span>|</span> <a href="#">DUI Charges </a></div>
                                </div>
                            </div>
                            <!-- <div id="start-form" class="button">Let's Get Started</div> -->
                            <!-- <div class="call text-center">Or Call <span data-tel-friendly="1-800-248-2846" class="click-call"><b class="icon-phone hidden-lg hidden-md hidden-sm"></b>1-800-CITATION</span><br /><span style="font-size: 16px;" class="translated-number">248-2846</span></div><br /><br /> -->
                            <div id="this-should-be-visible">
                                <div class="button">Take Care of Your Ticket Online</div>
                            </div>
                            <!-- <div class="call text-center">Or Call <span data-tel-friendly="1-800-248-2846" class="click-call"><b class="icon-phone hidden-lg hidden-md hidden-sm"></b>1-800-CITATION</span><br /><span style="font-size: 16px;" class="translated-number">248-2846</span></div><br /><br /> -->
                            <div class="call text-center">
                                Or Call
                                <span class="number-container large" data-userway-font-size="26" style="visibility: hidden;">
                                    <a style="color: rgb(255, 226, 2); visibility: hidden;" href="tel:866-248-2846" data-userway-font-size="26">
                                        <b class="icon-phone hidden-lg hidden-md hidden-sm" data-userway-font-size="26" style="visibility: hidden;"></b> 866-248-2846
                                    </a>
                                </span>
                            </div><br /><br />
                            <div class="row">
                                <div class="col-md-offset-2 col-md-2 col-sm-3 col-xs-6 text-center">
                                    <img src="~/themes/wp-content/themes/the-ticket-clinic/images/nafdd-badge.png">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-6 text-center" style="visibility: hidden;">
                                    <img src="~/themes/wp-content/themes/the-ticket-clinic/images/10-best-badge.png">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-6 text-center" style="visibility: hidden;">
                                    <img src="~/themes/wp-content/themes/the-ticket-clinic/images/avvo-badge.png">
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-6 text-center" style="visibility: hidden;">
                                    <img src="~/themes/wp-content/themes/the-ticket-clinic/images/top-100-badge.png">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <br style="visibility: hidden;">
                                    *Court costs may apply.<br>
                                    **Cases resolved nationally.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="slide cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 99; visibility: hidden;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-wrapper">
                                <h2 class="text-center">What type of ticket did you receive?</h2>
                                <label class="form-next">
                                    <input type="radio" name="ticket_type" value="Speeding">
                                    Speeding
                                </label>
                                <label class="form-next">
                                    <input type="radio" name="ticket_type" value="Red Light">
                                    Red Light
                                </label>
                                <label class="form-next">
                                    <input type="radio" name="ticket_type" value="Suspended License">
                                    Suspended License
                                </label>
                                <label class="form-next">
                                    <input type="radio" name="ticket_type" value="Reckless / Careless Driving">
                                    Reckless / Careless Driving
                                </label>
                                <label class="form-next">
                                    <input type="radio" name="ticket_type" value="DUI">
                                    DUI
                                </label>
                                <label class="form-next">
                                    <input type="radio" name="ticket_type" value="Accident">
                                    Accident
                                </label>
                                <select id="other_type" name="other_type">
                                    <option value="">Other (Please Select)</option>
                                    <option value="Careless Driving - (moving)">Careless Driving - (moving)</option>
                                    <option value="Criminal">Criminal</option>
                                    <option value="Speeding (moving)">Speeding (moving)</option>
                                    <option value="Toll Violation - (Moving)">Toll Violation - (Moving)</option>
                                    <option value="Violation of traffic control device - (moving)">Violation of traffic control device - (moving)</option>
                                    <option value="Failure to stop at a traffic signal - (moving)">Failure to stop at a traffic signal - (moving)</option>
                                    <option value="Improper lane change or course - (moving)">Improper lane change or course - (moving)</option>
                                    <option value="Violation of right of way - (moving)">Violation of right of way - (moving)</option>
                                    <option value="Improper passing - (moving)">Improper passing - (moving)</option>
                                    <option value="Child restraint - (moving)">Child restraint - (moving)</option>
                                    <option value="Seatbelt violation - (non-moving)">Seatbelt violation - (non-moving)</option>
                                    <option value="Improper or unsafe equipment - (non-moving)">Improper or unsafe equipment - (non-moving)</option>
                                    <option value="Expired tag less than 6 months - (non-moving)">Expired tag less than 6 months - (non-moving)</option>
                                    <option value="No proof of insurance - (non-moving)">No proof of insurance - (non-moving)</option>
                                    <option value="No proof of registration - (non-moving)">No proof of registration - (non-moving)</option>
                                    <option value="No proof of driver license - (non-moving)">No proof of driver license - (non-moving)</option>
                                    <option value="HOV Lane Violation - (moving)">HOV Lane Violation - (moving)</option>
                                    <option value="Open container (driver) - (moving)">Open container (driver) - (moving)</option>
                                    <option value="Open container (passenger) - (moving)">Open container (passenger) - (moving)</option>
                                    <option value="Other moving violation - (moving)">Other moving violation - (moving)</option>
                                    <option value="Other non-moving violation">Other non-moving violation</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="slide cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 97; visibility: hidden;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-wrapper">
                                <h2 class="text-center disable-form-text">How would you like to contact us?</h2>
                                <div class="large">
                                    <span data-tel-friendly="1-800-248-2846" class="click-call"><b class="icon-phone hidden-lg hidden-md hidden-sm"></b>1-800-CITATION</span><br><span style="font-size: 16px;" class="translated-number">248-2846</span>
                                </div>
                                <label class="form-last disable-form-toggle">
                                    E-Mail Us
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="slide cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 96; visibility: hidden;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-wrapper">
                                <form action="/thanks" method="post" class="has-validation-callback">
                                    <p>
                                        <input type="hidden" name="home-contact" value="1612203933">
                                        <input type="text" name="home-name" value="" size="40" placeholder="Name" data-validation="length" data-validation-length="min4"><br>

                                        <input type="email" name="home-email" value="" size="40" placeholder="E-Mail Address" data-validation="length email" data-validation-length="min4"><br>

                                        <input type="text" name="home-phone" value="" size="40" placeholder="Phone Number" data-validation="length" data-validation-length="min4"><br>

                                        <input type="text" name="home-ticket" value="" size="40" id="ticket" placeholder="What ticket do you have?" data-validation="length" data-validation-length="min4"><br>

                                        <select name="home-county" data-validation="length" data-validation-length="min1">
                                            <option value="">Please Select a County</option>
                                            <option value="Alpine">Alpine</option>
                                            <option value="Amador">Amador</option>
                                            <option value="Butte">Butte</option>
                                            <option value="Calaveras">Calaveras</option>
                                            <option value="Colusa">Colusa</option>
                                            <option value="Contra Costa">Contra Costa</option>
                                            <option value="Del Norte">Del Norte</option>
                                            <option value="El Dorado">El Dorado</option>
                                            <option value="Fresno">Fresno</option>
                                            <option value="Glenn">Glenn</option>
                                            <option value="Humboldt">Humboldt</option>
                                            <option value="Imperial">Imperial</option>
                                            <option value="Inyo">Inyo</option>
                                            <option value="Kern">Kern</option>
                                            <option value="Kings">Kings</option>
                                            <option value="Klamath">Klamath</option>
                                            <option value="Lake">Lake</option>
                                            <option value="Lassen">Lassen</option>
                                            <option value="Los Angeles">Los Angeles</option>
                                            <option value="Madera">Madera</option>
                                            <option value="Marin">Marin</option>
                                            <option value="Mariposa">Mariposa</option>
                                            <option value="Mendocino">Mendocino</option>
                                            <option value="Merced">Merced</option>
                                            <option value="Modoc">Modoc</option>
                                            <option value="Mono">Mono</option>
                                            <option value="Monterey">Monterey</option>
                                            <option value="Napa">Napa</option>
                                            <option value="Nevada">Nevada</option>
                                            <option value="Orange">Orange</option>
                                            <option value="Placer">Placer</option>
                                            <option value="Plumas">Plumas</option>
                                            <option value="Riverside">Riverside</option>
                                            <option value="Sacramento">Sacramento</option>
                                            <option value="San Benito">San Benito</option>
                                            <option value="San Bernardino">San Bernardino</option>
                                            <option value="San Diego">San Diego</option>
                                            <option value="San Francisco">San Francisco</option>
                                            <option value="San Joaquin">San Joaquin</option>
                                            <option value="San Luis Obispo">San Luis Obispo</option>
                                            <option value="San Mateo">San Mateo</option>
                                            <option value="Santa Barbara">Santa Barbara</option>
                                            <option value="Santa Clara">Santa Clara</option>
                                            <option value="Santa Cruz">Santa Cruz</option>
                                            <option value="Shasta">Shasta</option>
                                            <option value="Sierra">Sierra</option>
                                            <option value="Siskiyou">Siskiyou</option>
                                            <option value="Solano">Solano</option>
                                            <option value="Sonoma">Sonoma</option>
                                            <option value="Stanislaus">Stanislaus</option>
                                            <option value="Sutter">Sutter</option>
                                            <option value="Tehama">Tehama</option>
                                            <option value="Trinity">Trinity</option>
                                            <option value="Tulare">Tulare</option>
                                            <option value="Tuolumne">Tuolumne</option>
                                            <option value="Ventura">Ventura</option>
                                            <option value="Yolo">Yolo</option>
                                            <option value="Yuba">Yuba</option>
                                        </select>

                                        <textarea style="clear:both; margin: 20px 0;" name="home-message" cols="40" rows="10" placeholder="Tell us about your ticket..." data-validation="length" data-validation-length="min4"></textarea><br>

                                        <input type="submit" value="Send">
                                    </p>
                                </form>
                            </div>
                            <!-- <div class="form-wrapper">
                                <h2 class="text-center">Tell Us About Yourself</h2>
                                <input type="text" name="name" placeholder="Name">
                                <input type="text" name="email" placeholder="E-Mail Address">
                                <input type="text" id="ticket" name="ticket" value="">
                                <input type="text" name="phone" placeholder="Phone Number">
                                <textarea name="message" placeholder="Tell us about your ticket"></textarea>
                                <input id="home-submit" type="submit" value="Submit">
                            </div> -->
                        </div>
                    </div>
                </div>
            </div><div class="slide cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 95; visibility: hidden;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-wrapper">
                                <h2 class="text-center">Thank You</h2>
                                <p>Your details have been successfully sent and one of our professionals will contact you soon.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="padding: 60px 0;">
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <h2 style="text-align: center; font: 400 48px/52px 'Overpass', sans-serif;">We Have Been Featured On</h2>
                            <div class="featured-points" style="font: 600 20px/28px 'Overpass', sans-serif; color: #cccccc; text-align: center;">DON&#8217;T BE FOOLED BY IMITATORS <span style="color: #ffe202;">|</span> SINCE 1987 <span style="color: #ffe202;">|</span> LEGAL SERVICES FOR MOTORISTS</div>
                            <p>
                                <script type="text/javascript">// <!&#091;CDATA&#091; var script = document.createElement("script"); script.async = true; script.type = "text/javascript"; var target = 'https://www.clickcease.com/monitor/stat.js'; script.src = target; var elem = document.head; elem.appendChild(script); // &#093;&#093;></script>
                            </p>
                            <p>
                                <script type="text/javascript">// <!&#091;CDATA&#091; var script = document.createElement("script"); script.async = true; script.type = "text/javascript"; var target = 'https://www.clickcease.com/monitor/stat.js'; script.src = target; var elem = document.head; elem.appendChild(script); // &#093;&#093;></script>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <div class="wpb_single_image wpb_content_element vc_align_center">

                        <figure class="wpb_wrapper vc_figure">
                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="~/themes/wp-content/uploads/2019/03/media-outlets-color-1.jpg" width="1117" height="358" alt="media-outlets-color-1" title="media-outlets-color-1" /></div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
    {
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;key=AIzaSyDtOAVhvWfQIM7A9EUFYWROVkKJ4NhNycY"></script>
    <!-- start number replacer -->
    <script type="text/javascript">
<!--
        vs_account_id = "Ch4NmlqEdbw86QD0";
        $(".button-los-angeles").click(function () {
            //   alert( "Handler for .click() called." );
            window.location.href = 'shopping_cart/index.php/init.html';

        });
//--></script>
    <script type="text/javascript" src="http://rw1.marchex.io/euinc/number-changer.js">
    </script>
}